/**
 * --------------------------------------------------------------------
 * SITE HEADER
 * --------------------------------------------------------------------
 */

.search-bar__inner {
    display: none !important;
}

.nav-bar__linklist {
    display: flex;
}

.nav-bar__item:last-child {
    margin-right: 0;
}

.nav-bar__item:nth-last-child(2) {
    margin-left: auto;
}

.nav-bar__link--active {
    color: var(--link-color);
}

/**
 * --------------------------------------------------------------------
 * ANNOUNCEMENT BAR
 * --------------------------------------------------------------------
 */

.announcement-bar__phone {
  margin-right: 5px;
}

.announcement-bar__hours {
  display: inline-block;
  color: var(--header-light-text-color);
  font-weight: 400;
}

.announcement-bar__hours-link {
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  .announcement-bar__content {
    display: flex;
    justify-content: space-between;
  }

  .announcement-bar__hours-message {
    display: none;
  }
}

@media screen and (min-width: 641px) {
  .announcement-bar__inner {
    justify-content: space-between;
  }
 
  .announcement-bar__content {
    display: block;
    line-height: 1.2;
  }

  .announcement-bar__hours-link {
    display: none;
  }

  .announcement-bar__button {
    flex-shrink: 0;
    align-self: stretch;
  }
}

/**
 * --------------------------------------------------------------------
 * FIELD
 * --------------------------------------------------------------------
 */

.form__input-wrapper label.required::after, // for <select> elements
.form__field:required + .form__floating-label::after {
    content: ' *';
    color: red;
    font-size: 1.2em;
    line-height: 0;
}

/**
 * --------------------------------------------------------------------
 * BREADCRUMB
 * --------------------------------------------------------------------
 */

@media screen and (max-width: 640px) {
}

/**
 * --------------------------------------------------------------------
 * PRODUCT META
 * --------------------------------------------------------------------
 */

.product-meta__reference {
    display: flex;
    gap: 15px;
    line-height: 1.5;
}

/**
 * --------------------------------------------------------------------
 * PRODUCT FORM
 * --------------------------------------------------------------------
 */

.product-form__price-info--flex {
    display: flex;
    align-items: center;
    gap: 0.7em;
    line-height: 1.3;
    margin-top: 2px;
}
@media screen and (min-width: 641px) {
    .product-form__price-info + .product-form__price-info {
        margin-top: 5px;
    }
}

/**
 * --------------------------------------------------------------------
 * PRODUCT SPECIFICATIONS
 * --------------------------------------------------------------------
 */

.product-block-list__item--specifications table {
    margin: 0;
}
.product-block-list__item--specifications th {
    width: 35%;
    word-break: normal;
}

/**
  * --------------------------------------------------------------------
  * PRODUCT DOCUMENT
  * --------------------------------------------------------------------
  */

.product-document__label {
    font-size: calc(
        var(--base-text-font-size) - (var(--default-text-font-size) - 12px)
    );
    text-shadow: 1px 1px 2px rgb(0 0 0 / 40%);
    display: flex;
    align-items: center;
    min-height: 80%;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.3) 30%,
        rgba(0, 0, 0, 0.3) 70%,
        rgba(0, 0, 0, 0) 100%
    );
}

@media screen and (min-width: 641px) {
    .product-document__label {
        font-size: calc(
            var(--base-text-font-size) - (var(--default-text-font-size) - 13px)
        );
    }
}

/**
 * --------------------------------------------------------------------
 * SECTIONS
 * --------------------------------------------------------------------
 */

.section--accent {
    background-color: var(--accent-background);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 40px 0;
}

.section--secondary {
    background-color: var(--secondary-background);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 40px 0;
}

.section__title-context {
    justify-self: flex-start;
    margin: 0 auto 0 10px;
}

/**
 * --------------------------------------------------------------------
 * CARDS
 * --------------------------------------------------------------------
 */

.card-stack .card {
    margin-bottom: 0;
}

.card-stack .card:not(:last-child) {
    border-bottom: none;
}

.card--highlight {
    color: white;
    background: #214784;
    border: none;
}

.card--highlight .card__separator {
    border-color: #4967a5;
}

.card--highlight .card__keyvalue-key {
    color: var(--header-light-text-color);
}

.card__keyvalue-value {
    margin-left: 3px;
}

.card__section--centered {
    margin-left: auto;
    margin-right: auto;
}

.card__section--giga-narrow {
    max-width: 582px;
}

.card__section--meta {
    font-size: calc(
        var(--base-text-font-size) - (var(--default-text-font-size) - 13px)
    );
}

.card__section--meta .card__separator {
    margin: 14px 0;
}

/**
 * --------------------------------------------------------------------
 * COLLECTIONS
 * --------------------------------------------------------------------
 */

.empty-collection__header {
}

.empty-collection__heading {
    padding: 16px var(--mobile-container-gutter) 12px;
}

.empty-collection__thumbnail-container {
}

.empty-collection__form-container {
    padding: 0 var(--mobile-container-gutter);
}

@media screen and (min-width: 641px) {
    .empty-collection__header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 28px 0;
    }

    .empty-collection__heading {
        padding: 0 0 0 var(--mobile-container-gutter);
    }

    .empty-collection__thumbnail-container {
        flex: 0 0 200px;
    }

    .empty-collection__form-container {
        max-width: 670px;
        margin: 0 auto;
        padding: 0;
    }
}

/**
 * --------------------------------------------------------------------
 * PASSWORD PAGE
 * --------------------------------------------------------------------
 */

.password__content--background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.password__footer-social {
    margin-left: auto;
}

/**
 * --------------------------------------------------------------------
 * CONTACT PAGE
 * --------------------------------------------------------------------
 */

.ls-contact-page [data-section-type='map'] {
    margin: 28px 0;
}

@media screen and (min-width: 641px) {
    .ls-contact-page [data-section-type='map'] {
        margin: 35px 0;
    }
}

@media screen and (min-width: 1000px) {
    .ls-contact-page .map {
        height: 360px;
    }
}

/**
 * --------------------------------------------------------------------
 * SITE FOOTER
 * --------------------------------------------------------------------
 */

.footer__address {
    font-style: normal;
    margin: 0.7em 0;
}

.footer__background-image {
    height: 100%;
    min-height: 160px;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 640px) {
    .footer__block-item--image {
        padding-top: 30px;
        border-bottom: none;
    }
}

@media screen and (min-width: 1000px) {
    .footer__block-item--text {
        flex: 2 1 355px;
    }

    .footer__block-item--contact {
        flex-grow: 0;
    }

    .footer__block-item--image {
        flex-basis: 300px;
    }

    .footer__block-item--links {
        flex-grow: 0;
    }

    .footer__background-image {
        min-height: 194px;
    }
}

@media screen and (min-width: 1280px) {
    .footer__block-item--image {
        max-width: 360px;
    }
}

/**
 * --------------------------------------------------------------------
 * MISCELLANEOUS
 * --------------------------------------------------------------------
 */

.grecaptcha-badge {
    visibility: hidden; // hide Google CAPTCHA badge
}

.text--nowrap {
  white-space: nowrap;
}
